<!doctype html>
<html>
<head>
<title>Instamosaic | Instagram Mosaic Generator</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="ajax"></div>
	<script>
	$(document).ready(function(){
		$('.ajax').hide();
		$('#mainContainer').fadeIn('slow');
	});
	</script>
	<div id="mainContainer">
		<div class="screen" style="background: #<%= @randColor %>;"></div>
		<img src="<%= @userpic %>" alt="" class="over" />
    <%= @html %>
  </div>
</body>
</html>