<!doctype html>
<html>
<head>
<title>Instamosaic | Instagram Mosaic Generator</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="mainContainer">
		<div class="screen" style="background: #<%= @randColor %>;"></div>
		<img src="<%= @userpic %>" alt="" class="over" />
    <%= @html %>
  </div>
</body>
</html>