* { margin: 0; padding: 0; border: 0 }

body { background: #000 }
a.signin { margin: 0 auto; background: url(../img/instagram_signin.png) 0 0 no-repeat; width: 200px; height: 29px; display: block; cursor: pointer }
#logo { width: 524px; height: 140px; margin: 200px auto 0 auto; background: url(../img/logo.png) }
.ajax { width: 43px; height: 43px; background: url(../img/ajax.gif) 0 0 no-repeat; margin: 200px auto }
#mainContainer { width: 1000px; margin: 0 auto; position: relative; display: none }
.screen { position: absolute; z-index: 3; width: 1000px; height: 1000px; opacity: 0.1; background: #f00 }
.over { position: absolute; z-index: 2; width: 1000px; opacity: 0.4; left: 0; top: 0 }
.thumbnail { width: 20px; height: 20px; float: left }